data/restoran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="restoran">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="menyy"/>
                <xs:element ref="teenindus"/>
                <xs:element ref="tellimused"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Menüü dimensioon -->
    <xs:element name="menyy">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tooted"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="kategooria" type="xs:string" use="required"/>
            <xs:attribute name="aktiivsus" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="tooted">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="toit" maxOccurs="unbounded"/>
                <xs:element ref="jook" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="toit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nimetus" type="xs:string"/>
                <xs:element name="koostis" type="xs:string"/>
                <xs:element name="kalorsus" type="xs:int"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="liik" type="xs:string" use="required"/>
            <xs:attribute name="hind" type="xs:decimal" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="jook">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nimetus" type="xs:string"/>
                <xs:element name="tootja" type="xs:string"/>
                <xs:element name="alkoholiProtsent" type="xs:decimal"/>
                <xs:element name="hind" type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="liik" type="xs:string" use="required"/>
            <xs:attribute name="maht" type="xs:decimal" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Teeninduse dimensioon -->
    <xs:element name="teenindus">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lauad"/>
                <xs:element ref="teenindajad"/>
            </xs:sequence>
            <xs:attribute name="piirkond" type="xs:string" use="required"/>
            <xs:attribute name="vahetus" type="xs:string" use="required"/>
            <xs:attribute name="juhataja" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="lauad">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="laud" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="laud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserveeritud" type="xs:boolean"/>
                <xs:element name="erinoued" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="kohtade_arv" type="xs:int" use="required"/>
            <xs:attribute name="staatus" type="xs:string" use="required"/>
            <xs:attribute name="asukoht" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="teenindajad">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="teenindaja" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="teenindaja">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nimi" type="xs:string"/>
                <xs:element name="telefon" type="xs:string"/>
                <xs:element name="tööaeg" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="staatus" type="xs:string" use="required"/>
            <xs:attribute name="kogemus" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Tellimuste dimensioon -->
    <xs:element name="tellimused">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tellimus" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="kuupaev" type="xs:date" use="required"/>
            <xs:attribute name="kokku_summa" type="xs:decimal" use="required"/>
            <xs:attribute name="klient_tyyp" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="tellimus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tellimuse_aeg" type="xs:time"/>
                <xs:element ref="kliendi_info"/>
                <xs:element ref="kaubad"/>
                <xs:element name="kogusumma" type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="laud_id" type="xs:int" use="required"/>
            <xs:attribute name="teenindaja_id" type="xs:int" use="required"/>
            <xs:attribute name="staatus" type="xs:string" use="required"/>
            <xs:attribute name="prioriteet" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="kliendi_info">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nimi" type="xs:string"/>
                <xs:element name="telefon" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="kaubad">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="kaup" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="kaup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nimetus" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="toot_id" type="xs:int" use="required"/>
            <xs:attribute name="kogus" type="xs:int" use="required"/>
            <xs:attribute name="yhiku_hind" type="xs:decimal" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
